*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.app-wrapper {
  background-color: rgb(98, 66, 130);
}

.treaty-wrapper {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 20rem 20rem;
  grid-template-areas: "#section-1 #section-2 #section-3"
                        "#section-4 #section-5 #section-6";
  background-color: cyan;
  grid-gap: 1rem;
}
